* {
    margin: 0; 
    padding: 0;
}

.webgl {
    position: fixed; 
}

#blocker {
    position: absolute; 
    width: 100vw; 
    height: 100vh;
    color: white; 
    z-index: 2; 
    background-color: rgba(0, 0, 0, 0.5);
}

#instructions {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: helvetica neue; 
}
